# Agnoris Internal
-e git+https://04252e22d18d0d9d977bf110b44b1962ba688222:x-oauth-basic@github.com/Agnoris/agnoris_tivan
-e git+https://04252e22d18d0d9d977bf110b44b1962ba688222:x-oauth-basic@github.com/Shein/agnoris_storage

alabaster==0.7.10
appnope==0.1.0
attrs==17.4.0
Babel==2.5.3
boto3==1.6.16
botocore==1.9.16
certifi==2018.1.18
chardet==3.0.4
coverage==4.4.2
decorator==4.2.1
Django==1.10.8
django-cors-headers==2.2.0
django-coverage-plugin==1.5.0
django-debug-toolbar==1.9
django-environ==0.4.4
django-extensions==1.9.7
django-model-utils==3.0.0
django-test-plus==1.0.20
docutils==0.14
factory-boy==2.9.2
Faker==0.8.12
gevent==1.2.2
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
greenlet==0.4.13
gunicorn==19.7.1
idna==2.6
imagesize==1.0.0
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
iso8601==0.1.12
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
more-itertools==4.1.0
numpy==1.14.2
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
promise==2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.5.3
Pygments==2.2.0
pymongo==3.6.1
pytest==3.5.0
pytest-django==3.1.2
pytest-sugar==0.9.0
python-dateutil==2.6.1
pytz==2017.3
raven==6.3.0
requests==2.18.4
Rx==1.6.1
s3transfer==0.1.13
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.5
sqlparse==0.2.4
termcolor==1.1.0
text-unidecode==1.2
traitlets==4.3.2
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
whitenoise==3.3.1

